.product-page-conatiner {
  display: grid;
  gap: 1rem;
  max-width: 1260px;
  margin: auto;
  .productCard-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    .img-container {
      width: 20%;
      border: 1px solid black;
      border-radius: 20px;
      display: grid;
      place-items: center;
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }
    .product-details-part {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .review-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .star-comment {
      display: flex;
      gap: 1rem;
    }
    .fullName {
      display: flex;
      gap: 3px;
    }
  }
}
