.flex-container {
  display: flex;
  gap: 1rem;
}
.submit-confirm {
  display: flex;
  gap: 1rem;
}
.order-detail {
  display: flex;
  justify-content: space-between;
}
.total-name {
  display: flex;
  justify-content: space-between;
}
